 <a href="#" class="flex items-center justify-start px-4 py-2 text-medium-gray hover:bg-gray-100">
       
        History
      </a>
      <a href="#" class="flex items-center justify-start px-4 py-2 whitespace-nowrap  text-medium-gray hover:bg-gray-100">
       
        Our team
      </a>
      <a href="#" class="flex items-center justify-start px-4 py-2 text-medium-gray hover:bg-gray-100">
       
        Blog
      </a>