---
import Databiz from '../components/icons/Databiz.astro';
import Maker from '../components/icons/Maker.astro';
import Audiophile from '../components/icons/Audiophile.astro';
import Meet from '../components/icons/Meet.astro';

import { Image } from 'astro:assets';
---

<div class="container mx-auto">

     
  <div class="flex flex-col md:flex-row py-4 px-4 lg:px-18 mx-4 lg:mx-10 min-[320px]:w-full min-[320px]:mx-0 min-[320px]:px-0">
    <!-- div ze zdjęciem -->
    <div class="flex-1 order-1 md:order-2 flex items-center justify-center md:justify-end lg:mt-10 md:mt-0 sm:mt-0">
     <picture>
    <!-- Mobile version -->
    <source srcset='/astro-projekt/images/image-hero-mobile.png' media="(max-width: 768px)" class="sm:w-full mx-0" />
    <!-- Desktop version -->
    <img alt="main image"
      src='/astro-projekt/images/image-hero-desktop.png'
      width="480"
      height="640"
    />
  </picture>
    </div>

    <!-- div z tekstem -->
    <div class="flex-1 order-2 md:order-1 flex flex-col justify-center md:items-start  md:px-8 px-2">
  <!-- naglowek -->
 <p class="font-bold lg:text-headingL md:text-6xl  mt-12 md:mt-20 lg:mt-28 text-center md:text-left min-[320px]:text-headingLMobile tracking-tightest ">
 Make remote work
</p>

  
<!-- opis -->
<p class="min-[320px]:text-Medium xl:text-BodyM xl:text-left lg:text-left lg:text-l px-2 font-normal text-medium-gray mt-6 md:mt-10 min-[320px]:text-center">
  Get your team in sync, no matter your location.
  Streamline processes, create team rituals, and 
  watch productivity soar.
</p>

  
  <!-- button learn more -->
<div class="mt-10 md:mt-10 xl:mt-10 text-center md:text-left px-2">
  <button class="bg-black text-white border rounded-2xl py-3 px-8 min-[320px]:px-6 text-lg font-bold border-black hover:bg-white hover:text-black hover:drop-shadow-lg transition-shadow duration-300 drop-shadow-xl">
    <h1 class="drop-shadow-custom-lg font-bold">Learn more</h1>
  </button>
</div>


  
  <!-- loga   --> 
<div class="mt-10 md:mt-20 py-5 flex no-wrap justify-center md:justify-start min-[320px]:gap-0 md:gap-2 sm:gap-4 lg:gap-4  xl:gap-6">

  
    <Databiz />
    <Audiophile />
    <Meet />
    <Maker />
</div>
</div>
