---
import Dropdown from './icons/Dropdown.astro';
import CompanyDropdown from './CompanyDropdown.astro';
import FeaturesDropdown from './FeaturesDropdown.astro';

type Props = {
  text: string;
  prop: string;
}
const { text,prop } = Astro.props
---
<script>
 document.addEventListener('DOMContentLoaded', function () {

 });
</script>

<div class="relative">
  <button id={prop} class="flex items-center py-2 text-medium-gray hover:text-black hover:font-bold ">
    {text}
    <Dropdown />
  </button>

 { text === 'Features' && (
<div id="dropdown-menu" class="absolute right-2 mt-5 w-38 bg-white items-center hidden shadow-2xl rounded-lg ">
  <FeaturesDropdown/>
</div>
)}


{text === 'Company' && (
<div id="dropdown-menu2" class="absolute left-2 mt-5 w-38 bg-white flex-nowrap items-center hidden shadow-2xl rounded-lg  ">
     <CompanyDropdown/>
    </div>)}
</div>