---
import Logo from '../components/icons/Logo.astro';
import DropDownBtn from './DropDownBtn.astro';
import CompanyDropdown from '../components/CompanyDropdown.astro';
import FeaturesDropdown from '../components/FeaturesDropdown.astro';
import HeaderLink from './HeaderLink.astro';
import MobileMenuLink from './MobileMenuLink.astro';

---
<header>
  <nav class="bg-white py-6 px-2 text-BodyS">
    <div class="container-lg flex flex-wrap items-center justify-between">
      <!-- LOGO -->
      <div class="flex items-center space-x-8">
        <a href="#" class="flex items-center md:mx-12 min-[320px]:px-4" >
          <Logo />
        </a>
        <!-- header btns -->
        <div class="hidden lg:flex items-center space-x-8">
          <DropDownBtn text="Features" prop="featuresBtn" />
          <DropDownBtn text="Company" prop="companyBtn" />
        </div>
        <HeaderLink text="Careers"/>
        <HeaderLink text="About"/>
      </div>
      <div class="flex items-center space-x-6 mr-4">
        <a href="#" class="text-BodyS text-medium-gray hover:text-black hover:font-bold hover:shadow-sm transition-shadow duration-300  hidden lg:inline">
          Login
        </a>
        <button class="px-4 py-2 border text-medium-gray border-medium-gray rounded-2xl text-BodyS hover:text-black hover:font-bold hover:shadow-sm transition-shadow duration-300  hidden lg:inline">
          <a href="#" class="">Register</a>
        </button>
          <button id="hamburgerMenu" class="lg:hidden flex items-center">
          <svg width="32" height="18" xmlns="http://www.w3.org/2000/svg">
            <g fill="#151515" fill-rule="evenodd">
              <path d="M0 0h32v2H0zM0 8h32v2H0zM0 16h32v2H0z"/>
            </g>
          </svg>
        </button>
      </div>
    </div>

    <!-- menu mobilne -->
 <div id="mobileMenu" class="fixed top-0 right-0 bottom-0 w-2/3 bg-white z-50 transform translate-x-full transition-transform duration-300 ease-in-out">
  <div class="flex justify-end px-6 pt-6">
    <button id="closeMenu" class="text-black">
     <svg width="26" height="26" xmlns="http://www.w3.org/2000/svg"><g fill="#151515" fill-rule="evenodd"><path d="m2.393.98 22.628 22.628-1.414 1.414L.979 2.395z"/><path d="M.98 23.607 23.609.979l1.414 1.414L2.395 25.021z"/></g></svg>
      </svg>
    </button>
  </div>

  <div class="flex flex-col p-6">
    <DropDownBtn text="Features" prop="featuresBtnMobile" />
    <div id="dropdown-menu-mobile" class="ml-2 mt-2 hidden ">
      <FeaturesDropdown/>
    </div>

    <DropDownBtn text="Company" prop="companyBtnMobile" />
    <div id="dropdown-menu2-mobile" class="ml-2 mt-2 hidden ">
     <CompanyDropdown/>
    </div>

    <MobileMenuLink text="Careers" classes="py-2 text-black"/>
    <MobileMenuLink text="About" classes="py-2 text-black"/>
    <MobileMenuLink text="Login" classes="py-2 mx-auto mt-2 text-black"/>
    <button class="px-4 py-2 border text-medium-gray border-medium-gray rounded-2xl text-BodyS hover:text-black lg:inline mt-1">
      <MobileMenuLink text="Register" classes=''/>
    </button>
  </div>
</div>

    <!-- Maska -->
    <div id="mask" class="fixed inset-0 bg-black opacity-0 pointer-events-none transition-opacity duration-300 ease-in-out z-40"></div>
  </nav>
</header>
<script>
  "use strict";

document.addEventListener("DOMContentLoaded", function () {
  const hamburgerMenu = document.getElementById("hamburgerMenu")!;
  const mobileMenu = document.getElementById("mobileMenu")!;
  const mask = document.getElementById("mask")!;
  const closeMenu = document.getElementById("closeMenu")!;

  hamburgerMenu.addEventListener("click", function () {
    if (mobileMenu.classList.contains("translate-x-full")) {
      mobileMenu.classList.remove("translate-x-full");
      mobileMenu.classList.add("translate-x-0");
      mask.classList.add("opacity-50");
      mask.classList.remove("pointer-events-none");
    } else {
      mobileMenu.classList.add("translate-x-full");
      mobileMenu.classList.remove("translate-x-0");
      mask.classList.remove("opacity-50");
      mask.classList.add("pointer-events-none");
    }
  });

  mask.addEventListener("click", function () {
    mobileMenu.classList.add("translate-x-full");
    mobileMenu.classList.remove("translate-x-0");
    mask.classList.remove("opacity-50");
    mask.classList.add("pointer-events-none");
  });

  closeMenu.addEventListener("click", function () {
    mobileMenu.classList.add("translate-x-full");
    mobileMenu.classList.remove("translate-x-0");
    mask.classList.remove("opacity-50");
    mask.classList.add("pointer-events-none");
  });

  const featuresBtnMobile = document.getElementById("featuresBtnMobile")!;
  const companyBtnMobile = document.getElementById("companyBtnMobile")!;
  const dropdownMenuMobile = document.getElementById("dropdown-menu-mobile")!;
  const dropdownMenu2Mobile = document.getElementById("dropdown-menu2-mobile")!;

  featuresBtnMobile.addEventListener("click", function () {
    dropdownMenuMobile.classList.toggle("hidden");
  });

  companyBtnMobile.addEventListener("click", function () {
    dropdownMenu2Mobile.classList.toggle("hidden");
  });
});
</script>